// ~~~~~~~~~~~~~~~~~~~~~~~~~~
// Blog Layout - 001
// Variables
// ~~~~~~~~~~~~~~~~~~~~~~~~~~

// Color
$blog-dark-color: $dark;
$blog-light-color: $light;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~
// Blog (001)
// Adjustments
// ~~~~~~~~~~~~~~~~~~~~~~~~~~

.layout-blog {
    .blog-article {
        @extend .markdown; // see »_markdown.scss«

        .article-content {
            top: 0;
            min-height: 90dvh;
            position: relative;
            background-color: $blog-light-color;
            padding-top: 5rem;
            margin-top: -5rem;

            .blog-article-header {
                a {
                    @include link-dark-navigation;
                }

                h1 {
                    &:first-of-type {
                        margin-top: 0;
                    }
                }
            }

            header {
                padding-bottom: 4rem;

                p {
                    margin: 0;

                    @include lg-up {
                        margin-left: -5rem;
                    }
                }
            }
        }
    }

    .hero {
        //@extend .container-big;
        position: sticky;
        top: 0;
        height: 85dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .image-wrapper {
            margin-top: 5rem;
            width: 100%;
            height: 50dvh;
            display: flex;
            justify-content: center;
            align-items: center;

            @include lg-xxl {
                height: 65dvh;
                margin-top: 0;
            }

            @include xxl-up {
                width: 1280px;
                height: 65dvh;
                margin-top: 0;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
    }
}