// ~~~~~~~~~~~~~~~~~~~~~~~~~~
// Color (001)
// ~~~~~~~~~~~~~~~~~~~~~~~~~~

$color-paul: #000000;
$color-pauline: #ffffff;
$color-udo: #00ffff;
$color-ute: rgb(255, 213, 0);

$dark: $color-paul;
$light: $color-pauline;