/* Start with modul _container001.scss */

@use "breakpoints001" as breakpoints;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~
// Container (container001)
// Variables
// ~~~~~~~~~~~~~~~~~~~~~~~~~~

$container-spacing: 1rem;
$container-big-faktor: 2;
$container-big-spacing: ($container-spacing * $container-big-faktor);
$container-width: 800px;
$container-big-width: 1280px;
$container-max-width: breakpoints.$max; 

// ~~~~~~~~~~~~~~~~~~~~~~~~~~
// Container (container001)
// Adjustments
// ~~~~~~~~~~~~~~~~~~~~~~~~~~

@mixin container-fluid {
  max-width: 100%;
  padding-right: $container-spacing;
  padding-left: $container-spacing;

  @include breakpoints.xl-up {
    padding-right: $container-big-spacing;
    padding-left: $container-big-spacing;
  }
}

@mixin container {
  max-width: $container-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $container-spacing;
  padding-left: $container-spacing;

  @include breakpoints.xxl-up {
    padding-right: $container-big-spacing;
    padding-left: $container-big-spacing;
  }
}

@mixin container-big {
  max-width: $container-big-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $container-spacing;
  padding-left: $container-spacing;

  @include breakpoints.xl-up {
    padding-right: $container-big-spacing;
    padding-left: $container-big-spacing;
  }
}

@mixin container-max {
  @include breakpoints.max-up {
    max-width: $container-max-width;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
  }
}


.container-fluid {
  @include container-fluid;
}

.container {
  @include container;
}

.container-big {
  @include container-big;
}

.container-max {
  @include container-max;
}