// ~~~~~~~~~~~~~~~~~~~~~~~~~~
// Default Layout - 001
// Variables
// ~~~~~~~~~~~~~~~~~~~~~~~~~~

// Color
$default-dark-color: $dark;
$default-light-color: $light;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~
// Default (001)
// Adjustments
// ~~~~~~~~~~~~~~~~~~~~~~~~~~

.layout-default {
    .default-article{
        @extend .markdown; // see »_markdown.scss«
        .article-content {
            top: 0;
            position: relative;
            min-height: 90dvh;
            background-color: $default-light-color;
            padding-top: 5rem;
            margin-top: -5rem;

            h1 {
                &:first-of-type {
                    margin-top: 0;
                }
            }
        }
    }

    .hero {
        //@extend .container-big;
        position: sticky;
        top: 0;
        height: 85dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .image-wrapper {
            margin-top: 5rem;
            width: 100%;
            height: 50dvh;
            display: flex;
            justify-content: center;
            align-items: center;

            @include lg-xxl {
                height: 65dvh;
                margin-top: 0;
            }

            @include xxl-up {
                width: 1280px;
                height: 65dvh;
                margin-top: 0;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
    }
}

