// ~~~~~~~~~~~~~~~~~~~~~~~~~~
// Main (main001)
// Adjustments
// ~~~~~~~~~~~~~~~~~~~~~~~~~~

*,
*::before,
*::after {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    color: $dark;
    background: $color-ute;
    text-shadow: none;
}

html {
    background-color: $light;
    height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

a[x-apple-data-detectors] {
    // Do not highlight any phone numbers. Also check the header (meta/tel).
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}

body {
    @extend .container-max;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.63);
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100dvh;
    color: $dark;
    background-color: $light;

    main {
        width: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}