// ~~~~~~~~~~~~~~~~~~~~~~~~~~
// Yellow Editor
// ~~~~~~~~~~~~~~~~~~~~~~~~~~

// Try to minimize the influence from your css-code to the
// edit-css-code.

// ~~~~~~~~~~~~~~~~~~~~~~~~~~
// Yellow Editor
// Variables
// ~~~~~~~~~~~~~~~~~~~~~~~~~~

$yellow-bar-text-color: $light;
$yellow-bar-bg-color: $dark;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~
// Yellow Editor
// Adjustments
// ~~~~~~~~~~~~~~~~~~~~~~~~~~

.edit-container {
    max-width: 1700px;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto;
}

.yellow-popup,
.yellow-bar {
    z-index: 3000;
    background-color: $yellow-bar-bg-color;
    width: 100%;

    a {
        text-decoration: none;

        &:link,
        &:visited {
            text-decoration: none;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.yellow-toolbar-tooltip::after,
.yellow-toolbar-tooltip::before {
    z-index: 4000;
}

#yellow-pane-login {
    @extend .edit-container;
}

.yellow-pane {
    z-index: 3100;
    padding: 80px;

    a {
        text-decoration: none;

        &:link,
        &:visited {
            text-decoration: none;
        }

        &:hover {
            text-decoration: none;
        }
    }
}

#yellow-pane-menu {
    padding: 10px;
}

.yellow-bar {
    @extend .edit-container;
    position: absolute;
    top: 30px;
    margin: 0 auto 2rem auto;
    left: 0;
    right: 0;
    padding-top: 5px;
    padding-bottom: 5px;

    a {
        color: $yellow-bar-text-color;
    }
}

.yellow-pane,
.yellow-bar,
.yellow-popup {

    p,
    a,
    label,
    h1,
    h2,
    h3,
    li,
    ul {
        font-weight: 400;
        font-size: 22px;
    }

    font-family: "InterVariable";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
}

.yellow-settings {
    a {
        text-decoration: none;

        &:link,
        &:visited {
            text-decoration: none;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}